@page
@model IndexModel
@{
    ViewData["Title"] = "Przypisz numer telefonu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-4" style="float:none;margin:auto;">
        <form id="profile-form" method="post" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled id="username" />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Podaj numer telefonu:</label>
                <input asp-for="Input.PhoneNumber" class="form-control" id="telephone" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group d-none" id="inputToShow">
                <label asp-for="Input.ConfirmationCode"></label>
                <input asp-for="Input.ConfirmationCode" class="form-control" />
                <span asp-validation-for="Input.ConfirmationCode" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button id="update-profile-button" type="submit" class="btn btn-custom d-none">Zapisz</button>
                <a id="click" class="btn btn-outline-custom">Zapisz</a>
                <a href="/Identity/Account/Manage/Profile" class="btn text-custom">Powrót</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var buttonToHide = document.getElementById('click');
        var inputToShow = document.getElementById('inputToShow');
        var buttonToShow = document.getElementById('update-profile-button');
        var username = document.getElementById('username').value;
        var telephoneInput = document.getElementById('telephone');
        var generateCode = function (username, telephone) {
            $.ajax({
                type: "POST",
                url: "/api/notification/generateConfirmationCode",
                contentType: "application/json",
                data: JSON.stringify({ username: username, telephone: telephone })
            })
                .done(done)
                .fail((e) => {
                    console.log(2323232323);
                    console.log(e);

                });
        };
        buttonToHide.addEventListener('click', () => {
            if (telephoneInput.value.length > 0) {
                generateCode(username, telephoneInput.value);
            } else {
                alertify.warning('Nie podałeś nr tel');
            }
        });
        var done = () => {
            inputToShow.classList.remove('d-none');
            buttonToShow.classList.remove('d-none');
            buttonToHide.classList.add('d-none');
        }
    </script>
}