@page
@model ProfileModel
@{
    ViewData["Title"] = "Profil użytkownika";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-lg-8 mb-4 mb-sm-5" style="float:none;margin:auto;">
        <div class="card" style="background:lightgray;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4 mt-2">
                    <i class="fa-regular fa-user fs-1"></i>
                </h5>
                <div class="row">
                    <div class="col-6 text-end"><strong>Numer Konta</strong></div>
                    <div class="col-6">@Model.Username.ToUpper()</div>
                </div>
                <div class="row">
                    <div class="col-6 text-end"><strong>Imię</strong></div>
                    <div class="col-6">@Model.FirstName</div>
                </div>
                <div class="row">
                    <div class="col-6 text-end"><strong>Nazwisko</strong></div>
                    <div class="col-6">@Model.LastName</div>
                </div>     
                <div class="row">
                    <div class="col-6 text-end"><strong>Mail</strong></div>
                    <div class="col-6">@Model.Email</div>
                </div>  
               
          
            </div>
            <div class="card-footer text-muted">
                <a href="/Identity/Account/Manage/ChangePassword" class="btn btn-outline-custom">Zmień hasło</a>
                <a href="/Identity/Account/Manage/EditProfile" class="btn btn-outline-custom">Edytuj dane</a>
            </div>
        </div>
    </div>
</div>
