<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Poradnia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (TempData["Message"] != null)
    {
        <partial name="_StatusMessage" model="@TempData["Message"]" />
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo1.png" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">O Nas</a>
                            <a class="btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">Specjaliści</a>
                            <a class="btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">Warsztaty</a>
                            <div class="btn-group btn-profil">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kontakt</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item  btn btn-outline-warning" data-bs-toggle="tooltip" data-bs-placement="top" asp-controller="Reports" asp-action="Create">Dodaj nowe</a>
                                    <a class="dropdown-item  btn btn-outline-warning" asp-controller="Reports" asp-action="List">Przeglądaj</a>
                                </div>
                            </div>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Doctor"))
                            {
                                <a class="btn btn-outline-warning" asp-controller="Users" asp-action="Index">Użytkownicy</a>
                            }
                        </li>
                    </ul>
                </div>
                <partial name="_loginPartial"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
