@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;">
    <h1 style="font-size: 20rem;"><strong>400</strong></h1>
    <h3>Bad request!</h3>
    <a class="text-custom" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
</div>