@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;position:absolute;left:50%;transform:translateX(-50%)">
    <h1 style="font-size: 20rem;"><strong>404</strong></h1>
    <h3>Strony nie odnaleziono!</h3>
    <a class="text-custom" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
</div>